/* Footer.module.css */

.footer {
    display: grid;
    justify-items: center;
    background-color: #0d0d0d;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #444;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

.text {
    font-size: 14px;
    margin: 10px 0;
}

.webzen {
    display: block;
    float: left;
    width: 40px;
    height: 38px;
    margin-right: 8px;
    background: url('/public/svg/webzen.svg'), 100% 100% no-repeat;
}