.cyber_table {
    padding: 0;
    border: none;
    display: inline-block;
    border-collapse: collapse;
}

.cyber_table::before, .cyber_table::after {
    content: ' ';
    width: 100%;
    display: block;
    background-color: #00ffd2;
    position: relative;
    height: 6px;
}

.cyber_table::before {
    clip-path: polygon(0 100%, 6px 0, 10% 0, 10% 100%, 80% 100%, calc(80% + 6px) 0, 95% 0, 95% 100%, calc(95% + 6px) 100%, calc(95% + 6px) 0, calc(95% + 2 * 6px) 0, calc(95% + 2 * 6px) 100%, calc(95% + 3 * 6px) 100%, calc(95% + 3 * 6px) 0, 100% 0, 100% 100%);
}

.cyber_table::after {
    clip-path: polygon(100% 0, 100% 100%, calc(100% - 6px) 100%, calc(100% - 6px) 0, calc(100% - 2 * 6px) 0, calc(100% - 2 * 6px) 100%, 90% 100%, 90% 0, 75% 0, 75% 100%, 60% 100%, calc(60% - 6px) 0);
}

.cyber_table thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.cyber_table tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.cyber_table tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.cyber_table th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    unicode-bidi: isolate;
}

.cyber_table th, .cyber_table td {
    border: 1px solid;
    padding: .2rem .5rem;
}

.cyber_table thead th {
    border-bottom-width: 2px;
}