.server_name {
    padding: 2rem;
    margin: auto auto auto 0;
    display: flex;
    background: #FAFAFA;
    color: black;
}

.server_credit {
    width: 25px;
    background-image: url("/public/svg/c.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;

}

.auth {
    padding: 0 2rem;
    display: grid;
    align-items: center;
    margin-left: auto;
    text-transform: uppercase;
    transition: all 100ms ease;
    cursor: pointer;

    a {
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }
}

.auth:hover {
    background: #FAFAFA;
    color: black;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    justify-items: center;
    background: black;

    ul {
        margin: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        align-items: center;
        column-gap: 8rem;
        list-style: none;
        text-transform: uppercase;
        font-weight: 600;

        li {
            font-size: 1.5rem;
            color: white;
            cursor: pointer;
            transition: color 100ms ease;

            a {
                text-decoration: none;
                transition: opacity 100ms ease;
            }

            a:visited {
                color: inherit;
            }

            a:hover {
                opacity: 0.8;
            }
        }
    }
}

.container {

    display: flex;
    flex-direction: column;
}

.right {
    text-align: right;
    width: 100%;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    cursor: pointer;
}

.stack:hover {
    span {
        animation: stack 170ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 500ms ease infinite 500ms alternate-reverse;
    }
}


.stack span:nth-child(odd) {
    --glitch-translate: 8px;
}

.stack span:nth-child(even) {
    --glitch-translate: -8px;
}

.stack_animated {
    span {
        animation: stack 170ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 500ms ease infinite 500ms alternate-reverse;
    }
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }
    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }
    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {
        text-shadow: none;
        transform: none;
    }
}
